@model ProjetoBiblioteca.Models.Livro

@* Tela de confirmação para exclusão de livros. *@
@{
    ViewData["Title"] = "Excluir";
}

<h1>Excluir Livro</h1>

<div asp-validation-summary="ModelOnly"
     class="alert alert-danger">
</div>

<h3>Deseja realmente excluir?</h3>

<hr />

<dl class="row">

    <dt class="col-sm-3">Nome</dt>
    <dd class="col-sm-9">
        @Model.NomeLivro
    </dd>

    <dt class="col-sm-3">Autor</dt>
    <dd class="col-sm-9">
        @Model.Autor
    </dd>

    <dt class="col-sm-3">Quantidade em Estoque</dt>
    <dd class="col-sm-9">
        @Model.QuantidadeEstoque
    </dd>

    <dt class="col-sm-3">Faixa Etária</dt>
    <dd class="col-sm-9">
        @Model.FaixaEtariaPermitida anos
    </dd>

    <dt class="col-sm-3">Categoria</dt>
    <dd class="col-sm-9">
        @Model.Categoria
    </dd>

    <dt class="col-sm-3">Ano de Publicação</dt>
    <dd class="col-sm-9">
        @Model.AnoPublicacao
    </dd>

</dl>

<form asp-action="Delete" method="post">

    <input type="hidden" asp-for="Id" />

    <button type="submit"
            class="btn btn-danger">
        Excluir
    </button>

    <a asp-action="Index"
       class="btn btn-secondary">
        Cancelar
    </a>

</form>
