@model ProjetoBiblioteca.Models.Livro

@* Exibe os detalhes completos de um livro. *@
@{
    ViewData["Title"] = "Detalhes do Livro";
}

<h1 class="mb-3">Detalhes do Livro</h1>

<div class="card p-3 mb-3">
    <dl class="row mb-0">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.NomeLivro)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.NomeLivro)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Autor)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Autor)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.QuantidadeEstoque)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.QuantidadeEstoque)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FaixaEtariaPermitida)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FaixaEtariaPermitida)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Categoria)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.AnoPublicacao)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.AnoPublicacao)
        </dd>
    </dl>
</div>
<div class="d-flex gap-2">

    <a asp-action="Edit"
       asp-route-id="@Model.Id"
       class="btn btn-warning">
        Editar
    </a>

    <a asp-action="Index"
       class="btn btn-secondary">
        Voltar
    </a>

</div>
